Repository Star-Nimbus/firedoor: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, go-fmt, go-vet, yaml-lint, helm-lint, todo-check

golangci-lint:
  run: make lint-fast
  stage_fixed: true

go-fmt:
  run: make fmt
  stage_fixed: true

go-vet:
  run: make vet

yaml-lint:
  run: make lint-yaml

helm-lint:
  run: make lint-helm

todo-check:
  run: "if grep -r \"TODO\\|FIXME\" . --exclude-dir={.git,bin,node_modules,vendor} --exclude={*.log,*.tmp}; then\n  echo \"‚ö†Ô∏è  Found TODO/FIXME comments. Consider addressing them before committing.\"\n  exit 0  # Don't fail the commit, just warn\nfi\n"

chore: streamline CI/CD pipeline and linting configuration
  .github/workflows/ci-cd.yml
  .gitignore
  .golangci.yml
  Makefile
  lefthook.yml
Due: yaml-lint, todo-check

ci: add golangci-lint caching to speed up CI pipeline
  .github/workflows/ci-cd.yml
Due: yaml-lint, todo-check

ci: add tagging job
  .github/workflows/ci-cd.yml
  scripts/version.sh
Due: yaml-lint, todo-check

ci: fix e2e-test job and add caching for faster CI
  .github/workflows/ci-cd.yml
Due: yaml-lint, todo-check

ci: remove prod deploy
  .github/workflows/ci-cd.yml
Due: yaml-lint, todo-check

refactor: simplify CLI test files and rename cli_test.go to cli_suite_test.go
  cmd/cli/cli_suite_test.go
  cmd/cli/cli_test.go
  cmd/cli/manager_test.go
  cmd/cli/root_test.go
  cmd/cli/version_test.go
Due: golangci-lint, go-fmt, go-vet, todo-check

fix(ci,cli): resolve CI kubecontext and e2e test
  .github/workflows/ci-cd.yml
Due: yaml-lint, todo-check

fix(ci,cli): resolve CI kubecontext and e2e test
  .github/workflows/ci-cd.yml
  cmd/cli/manager_test.go
  cmd/cli/root_test.go
  cmd/cli/version_test.go
  config/chart/templates/_helpers.tpl
  config/chart/templates/crd.yaml
  config/chart/templates/deployment.yaml
  config/chart/templates/hpa.yaml
  config/chart/templates/poddisruptionbudget.yaml
  config/chart/templates/rbac.yaml
  config/chart/templates/service.yaml
  config/chart/templates/serviceaccount.yaml
  config/chart/templates/servicemonitor.yaml
  test/e2e/e2e_test.go
  test/e2e/skaffold_e2e_test.go
  test/utils/utils.go
Due: golangci-lint, go-fmt, go-vet, yaml-lint, todo-check

feat: add reconcilation logic
  .yamllint
  cmd/cli/manager.go
  internal/conditions/condition.go
  internal/conditions/conditions.go
  internal/conditions/message.go
  internal/conditions/operation.go
  internal/conditions/reason.go
  internal/config/config.go
  internal/config/default.go
  internal/constants/constants.go
  internal/controller/breakglass_controller.go
  internal/controller/breakglass_operations.go
  internal/controller/breakglass_operations_test.go
  internal/telemetry/breakglass.go
  internal/telemetry/metrics.go
  internal/telemetry/otel.go
  kubeconfig.yaml
  test/e2e/e2e_test.go
Due: golangci-lint, go-fmt, go-vet, yaml-lint, todo-check

ci: add skaffold dep to e2e test
  .github/workflows/ci-cd.yml
  skaffold.yaml
  test/utils/utils.go
Due: golangci-lint, go-fmt, go-vet, yaml-lint, todo-check

fix(telemetry): update tempo datasource URL
  config/tempo/datastore.yaml
Due: yaml-lint, todo-check

feat(controller): improve breakglass operations reliability and performance
  go.mod
  go.sum
  test/e2e/e2e_test.go
  test/utils/utils.go
Due: golangci-lint, go-fmt, go-vet, todo-check

fix: update test calls to NewBreakglassOperator with privilegeEscalation parameter
  internal/controller/breakglass_controller_test.go
Due: golangci-lint, go-fmt, go-vet, todo-check

fix status patching
  internal/controller/breakglass_operations.go
Due: golangci-lint, go-fmt, go-vet, todo-check

fix: update test calls to NewBreakglassOperator with privilegeEscalation parameter
  internal/controller/breakglass_operations.go
Due: golangci-lint, go-fmt, go-vet, todo-check

refactor: patch status with retry
  internal/controller/breakglass_controller.go
Due: golangci-lint, go-fmt, go-vet, todo-check

fix(lefthook): remove todo
  lefthook.yml
Due: yaml-lint, todo-check

fix(controller): support approvalrequired false
  .generated/access.cloudnimbus.io_breakglasses.yaml
  api/v1alpha1/breakglass_types.go
  charts/firedoor/templates/crd/access.cloudnimbus.io_breakglasses.yaml
  charts/firedoor/values.yaml
  cmd/cli/manager.go
  go.mod
  go.sum
  internal/controller/breakglass_controller.go
  internal/telemetry/log.go
  kustomize/tempo/datastore.yaml
  kustomize/tempo/kustomization.yaml
  skaffold.yaml
  test/e2e/e2e_test.go
Due: golangci-lint, go-fmt, go-vet, yaml-lint, todo-check

chore(chart): update crds
  .generated/access.cloudnimbus.io_breakglasses.yaml
  charts/firedoor/templates/crd/access.cloudnimbus.io_breakglasses.yaml
Due: yaml-lint, todo-check

fix(controller): pending phase
  internal/controller/breakglass_approval_test.go
  internal/controller/breakglass_controller.go
Due: golangci-lint, go-fmt, go-vet, todo-check

feat: improve chart sync workflow and versioning strategy
  .github/workflows/release-charts.yml
  .github/workflows/sync-charts.yml
  charts/firedoor/Chart.yaml
Due: yaml-lint, helm-lint, todo-check

feat(chart): add Notes.txt
  .github/workflows/go-dependency-submission.yml
  .github/workflows/sync-charts.yml
  charts/firedoor/templates/NOTES.txt
Due: yaml-lint, todo-check

feat(chart): add Notes.txt
  charts/firedoor/templates/NOTES.txt
Due: none

feat(chart): add caching
  .github/workflows/sync-charts.yml
Due: yaml-lint, todo-check

feat(chart): add dashboard
  firedoor-system.yaml
  internal/controller/breakglass_approval_test.go
  internal/controller/breakglass_controller.go
  internal/controller/breakglass_controller_test.go
  internal/controller/suite_test.go
  kustomize/dex/dev.yaml
  kustomize/grafana-dashboard/firedoor-dashboard.json
  kustomize/grafana-dashboard/firedoor_dashboard.json
  kustomize/grafana-dashboard/kustomization.yaml
  kustomize/prometheus/dev.yaml
  kustomize/tempo/datastore.yaml
  kustomize/tempo/dev.yaml
  kustomize/tempo/kustomization.yaml
  scripts/sync-charts-with-cache.sh
  skaffold.yaml
Due: golangci-lint, go-fmt, go-vet, yaml-lint, todo-check

feat(chart): add dashboard
  kustomize/grafana-dashboard/firedoor-dashboard.json
Due: none

feat(chart): add dashboard
  kustomize/grafana-dashboard/kustomization.yaml
Due: yaml-lint, todo-check

docs: clarify namespace bucket mapping
  README.md
  docs/telemetry.md
  internal/telemetry/metrics.go
  kustomize/grafana-dashboard/firedoor_dashboard.json
Due: golangci-lint, go-fmt, go-vet, todo-check

Delete docs/telemetry.md
  docs/telemetry.md
Due: todo-check

fix(skaffold): fix skaffold dev profile
  go.sum
  skaffold.yaml
Due: yaml-lint, todo-check

feat(controller): Add fail phase)
  .generated/access.cloudnimbus.io_breakglasses.yaml
  api/v1alpha1/breakglass_types.go
  charts/firedoor/templates/crd/access.cloudnimbus.io_breakglasses.yaml
  examples/breakglass-clusterrole.yaml
  examples/breakglass-recurring-example.yaml
  examples/breakglass-recurring-weekend.yaml
  internal/conditions/condition.go
  internal/conditions/message.go
  internal/conditions/reason.go
  internal/controller/breakglass_operations.go
  internal/telemetry/metrics.go
  kustomize/grafana-dashboard/firedoor_dashboard.json
  kustomize/tempo/dev.yaml
  state.yaml
Due: golangci-lint, go-fmt, go-vet, yaml-lint, todo-check

feat(controller): Add fail phase)
  state.yaml
Due: yaml-lint, todo-check

feat(backstage): Add Backstage catalog-info.yaml
  catalog-info.yaml
Due: yaml-lint, todo-check

Path conditions:
  golangci-lint: any of: *.go
  go-fmt: any of: *.go
  go-vet: any of: *.go
  yaml-lint: any of: *.{yml,yaml}
  helm-lint: any of: **/Chart.yaml
  todo-check: any of: *.{go,yml,yaml,md}
